@media screen and (min-width: 1025px){
    /* CSS Reset */
    html {
        box-sizing: border-box;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
        scroll-behavior: smooth;
      }
      
      body, h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
      
      ol, ul {
        list-style: none;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }
    /* General Formatting */
    .bg-grey {
        background: #f7f7f7;
    }
    
    body{
        font-family: 'Lato', sans-serif;
        line-height: 1.6;
        color: black;
        cursor:url('/meguminstaff.cur'),auto;
    }
    
    h1{
        margin-top: 20px;
    }
    
    .section-title{
        margin-bottom: 32px;
        font-size: 28px;
    }
    /* Putting text into the center of the image */
    #banner{
        text-align: center;
        position: relative;
        color: white;
    }
    
    .banner-img {
        position: relative;
        background-size: cover;
        filter: brightness(40%);
    }   
    
    .banner-text {
        position: absolute;
        inset: 50% auto auto 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        color: white;
    }
    
    /* Formatiting Navigation bar */
    #nav-bar{
        text-align: center;
        margin-top: -2rem;
    }
    
    #nav-bar a{
        border-left: 1px solid gray;
        text-decoration: none;
        color:#1d3557;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5em;
        
    }
    
    #nav-bar .container > a:nth-child(2), .container > a:nth-child(5){
        border-right: 1px solid gray; 
    }
    
    #nav-text{
        display: inline-block;
        text-align: center;  
        padding: 0px 4rem 0px 4rem;
    }
    
    /* Personal info and Target formatting*/
    #about > .container{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-items: center;
        max-width: 100%;
        padding: 0;
    }
    
    #about h2{
        margin-top: 1.5em;
    }
    
    .social-icons{
        margin-top: 30px;
    }
    
    li span{
        font-weight: bold;
    }
    
    #personal-info{
        padding: 0px 10em 80px 4.5em;
        font-size: 18px;
        background-color: #d9d9d9 ;
    }
    
    #personal-info h1, #target h1{
        margin-top: 25px;
    }
    
    #personal-info ul li a{
        text-decoration: none;
        color: #000;
    }
    
    #target{
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
        background-color: #e6e6e6;
        font-size: 18px;
    }
    /* Job-related info*/
    .jinfo-grid{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        column-gap: 40px ;
        row-gap: 20px;
    }
    
    .jinfo-box-grid{
        border: 1px solid gray;
        padding: 24px;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.06);
    }

    .jinfo-box-grid #skill, .jinfo-box-grid #lang{
        height: 80%;
        display: grid;
        grid-template-rows: repeat(5,1fr) ;
    }
    
    .jinfo-box-heading {
        display: grid;
        grid-template-columns: 75% 25%;
        column-gap: 20px;
        row-gap: 60px;
        align-items: center;
        margin-bottom: 10px;
    }
    #job-info ul {
        list-style: none;
    }
    
    #job-info ul li{
        margin:10px -30px 0 -20px;
    }
    
    #job-info ul li::before {
      content: "\2022";
      color: #0079bc;
      font-weight: bold;
      display: inline-block; 
      width: 1em;
      margin-left: -1em; 
    }
    
    .jinfo-title > h1{
        align-self: center;
        margin-top: -5px;
    }
    
    .jinfo-icon{
        font-size: 32px;
        color: gray;
    }
    
    .jinfo-content{
        font-size: 14px;
        display: inline-block;
        padding-right: 50px;
    }
    /* Exp box */
    .present{
        background-color:#0079bc;
        color: #fff;
        border-radius: 10px;
        padding: 3px 5px 3px 5px;
        font-weight: 400;   
    }
    /* Hobbies formatting and its icon */
    .icon-hobbies{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 44px 30px;
        row-gap: 10px;
        align-items: center;
    
    }
    
    .iconcircle1{
        font-size: 16px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid #0079bc;
        color: #0079bc;
        padding-top: 6px;
        padding-left: 4px;
    }
    .iconcircle2{
        font-size: 16px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid #0079bc;
        color: #0079bc;
        padding-top: 7px;
        padding-left: 10px;
    }
    .iconcircle3{
        font-size: 16px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid #0079bc;
        color: #0079bc;
        padding-top: 7px;
        padding-left: 9px;
    }
    .iconcircle4{
        font-size: 16px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid #0079bc;
        color: #0079bc;
        padding-top: 6px;
        padding-left: 6px;
    }
    
    .text-hobbies {
        font-size: 14px;
        justify-content: space-between;
    }
    /* The blue bar and the gray bar for skills and languages */
    .achieved{
        background-color:#0079bc;
        display: inline-block;
        height: 2px;
        width: 40px;
    }
    
    .none{
        background-color:gray;
        display: inline-block;
        height: 2px;
        width: 40px;
    }
    
    #eng, #deu, #jap{
        margin-bottom: 2rem;
    }
    
    #hmtl-css, #js, #reactjs, #nodejs, #python{
        margin-bottom: 1rem;
    }
    /* Formatting the Certificate section */
    .cert-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
    .cert-1-img, .cert-2-img, .cert-3-img{
        width: 240px;
        margin-right: 10px;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    }
    
    .cert-1{
        display:flex;
        gap: 10px;
        border-bottom: 2px solid #d6c08d;
        border-right: 2px solid #d6c08d;
        padding-right: 20px;
        padding-bottom: 30px;
    }
    
    .cert-2{ 
        display:flex;
        gap: 10px;
        border-bottom: 2px solid #d6c08d;
        padding-bottom: 30px;
        padding-left: 20px;
    }
    
    .cert-3{
        display:flex;
        gap: 10px;
        padding-top: 30px;
        padding-right: 20px;
    }
    
    /* Project section formatting */
    .project-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 40px;
    }
    
    .personal-cv, .pet-management, .hobbies-store{
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
        border: 1px solid gray;
    }
    
    .project-title{
        padding: 20px;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
    }
    
    .project-content{
        padding: 10px;
        border-bottom: 2px solid gray;
    }
    
    .project-place, .project-role{
        margin-left: 1rem;
    }
    
    table tr:first-child{
        border-bottom: 1px solid gray;
    }
    
    table tr:nth-child(2){
        border-bottom: 1px solid gray;
    }
    
    td{
        padding: 10px;
    }
    
    tr td:first-child{
        width:100px;
        vertical-align: top;
        font-weight: bold;
    }
    
    /* Footer formatting */
    #footer{
        list-style: none;
        line-height: 2;
        text-align: center;
        font-size: 20px;
    }
    
    #footer .container{
       margin-bottom: -2rem;
    }
    
    #footer a:link, 
    a:visited{
        margin-right: 50px;
        text-decoration: none;
    }
    
    #footer a:hover{
        font-weight: bold;
        text-transform: uppercase;
    }
    
    #footer li{
        display: inline-block;
    }
    
    #footer li a > i{
        color: #0079bc;
        font-size:250%;
    }

    #footer .footer-link-text{
        font-weight: 400;
    }
    
    /* add the avatar and formatting it */
    .avt-default{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #ffff;
        border: 5px solid white;
    }
    
    .avt-banner{
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%,50%);
    }
    }