/* General Formatting */
* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bg-grey {
    background: #f7f7f7;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: black;
    cursor:url('/meguminstaff.cur'),auto;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;

    padding: 30px 50px;
}

h1{
    margin-top: 20px;
}

.section-title{
    margin-bottom: 32px;
    font-size: 28px;
}
/* Putting text into the center of the image */
.banner-img {
    background-image: url(/images/banner.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    filter: brightness(40%);}   

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50% );
    color: white;
}

/* Formatiting Navigation bar */
#nav-bar{
    text-align: center;
    margin: -80px 0 -30px 0;
}
#nav-bar a:link, a:visited{
    text-decoration: none;
    color:#1d3557;
    text-transform: uppercase;
    display: inline-block;
    border-left: 1px solid gray;
    padding: 50px 20px 32px;
}

#nav-text{
    display: inline-block;
    text-align: center;
    border-left: 1px solid gray;
    padding: 0px 100px 32px 100px;
}

/* Personal info and Target formatting*/
.about-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    column-gap: 75px;    
    line-height: 2; 
    margin-top: 40px;
}

.social-icons{
    margin-top: 30px;
}

li span{
    font-weight: bold;
}

#personal-info{
    padding: 0px 200px 80px 30px;
    background-color: #dff1fa;
    font-size: 18px;
    border-radius: 25px;
    box-shadow:0 10px 20px 0 rgba(0,0,0,0.2);
} 
#personal-info h1{
    margin-top: 25px;
}

#target{
    height: 547px;
    margin-top: 20px;
    padding: 40px 30px;
    background-color: #e7f2f8;
    font-size: 18px;
    border-radius: 25px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}
/* Job-related info*/
.jinfo-grid{
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
    column-gap: 40px ;
    row-gap: 20px;
}

.jinfo-box-grid{
    border: 1px solid gray;
    padding: 24px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.06);
}

.jinfo-box-heading {
    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 20px;
    row-gap: 60px;
    align-items: center;
    margin-bottom: 10px;
}
#job-info ul {
    list-style: none;
}

#job-info ul li{
    margin:10px -30px 0 -20px;
}

#job-info ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0079bc; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.jinfo-title > h1{
    align-self: center;
    margin-top: -5px;
}

.jinfo-icon{
    font-size: 32px;
    color: gray;
}

.jinfo-content{
    font-size: 14px;
    display: inline-block;
    padding-right: 50px;
}
/* Exp box */
.present{
    background-color:#0079bc;
    color: #fff;
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    font-weight: 400;   
}
/* Hobbies formatting and its icon */
.icon-hobbies{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 44px 30px;
    row-gap: 10px;
    align-items: center;

}

.iconcircle1{
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #0079bc;
    color: #0079bc;
    padding-top: 6px;
    padding-left: 4px;
}
.iconcircle2{
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #0079bc;
    color: #0079bc;
    padding-top: 7px;
    padding-left: 10px;
}
.iconcircle3{
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #0079bc;
    color: #0079bc;
    padding-top: 7px;
    padding-left: 9px;
}
.iconcircle4{
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #0079bc;
    color: #0079bc;
    padding-top: 6px;
    padding-left: 6px;
}

.text-hobbies {
    font-size: 14px;
    justify-content: space-between;
}
/* The blue bar and the gray bar for skills and languages */
.achieved{
    background-color:#0079bc;
    display: inline-block;
    height: 2px;
    width: 40px;
}

.none{
    background-color:gray;
    display: inline-block;
    height: 2px;
    width: 40px;
}

#eng, #deu, #jap{
    margin-bottom: 2rem;
}

#hmtl-css, #js, #reactjs, #nodejs, #python{
    margin-bottom: 1rem;
}
/* Formatting the Certificate section */
.cert-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 50px;
}

.cert-1-img, .cert-2-img, .cert-3-img{
    width: 240px;
    margin-right: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
}

.cert-1{
    display:flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #d6c08d;
    border-right: 2px solid #d6c08d;
    margin-right: -50px;
    padding-right: 50px;
}

.cert-2{ 
    display:flex;
    gap: 20px;
    border-bottom: 2px solid #d6c08d;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-right: -20px;
}

.cert-3{
    display:flex;
    gap: 20px;
    margin-top: 30px;
}

/* Project section formatting */
.project-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 40px;
}

.personal-cv, .pet-management, .hobbies-store{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
}

.project-title{
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid gray;
}

.project-content{
    padding: 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

/*table{
    border-collapse: collapse ;
}*/

td{
    padding: 10px;
    border: 1px solid gray;
}

tr td:first-child{
    width:100px;
    vertical-align: top;
    font-weight: bold;
}

/* Footer formatting */
#footer{
    list-style: none;
    line-height: 1.5;
    text-align: center;
}

#footer a:link, 
a:visited{
    margin-right: 50px;
    text-decoration: none;
}

#footer a:hover{
    font-weight: bold;
    text-transform: uppercase;
}

#footer li{
    display: inline-block;
}

/* add the avatar and formatting it */
.avt-default{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: #ffff;
    border: 5px solid white;
}

.avt-banner{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%,50%);
}