@media screen and (max-width: 767px) {
/* Hide the avatar */
.avt-banner{
  display: none;
}

/* Hide the text in the navigation bar */
.nav-text{
  display: none;
}
/* Putting text into the center of the image */
#banner{
    text-align: center;
    position: relative;
    color: white;
}

.banner-img {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  filter: brightness(40%);}   

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50% );
  color: white;
}

 
}