@media screen and (max-width: 767px) {
/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Hide the avatar */
.avt-banner{
  display: none;
}

/* Hide the text in the navigation bar */
#nav-text{
  display: none;
}
/* Putting text into the center of the image */
#banner{
    text-align: center;
    position: relative;
    color: white;
}

.banner-img {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  filter: brightness(40%);}   

.banner-text {
  position: absolute;
  inset: 50% auto auto 50%;
  text-align: center;
  transform: translate(-50%,-50% );
  color: white;
}

#nav-bar > .container a{
  display: block;
  padding-bottom: 10px !important;
}
/* Formatting Personal info and Target */ 
#about .container{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  margin-top: 1.5em;
  row-gap: 2em;
  justify-items: center;
}

#target{
  background-color: lightskyblue;
  padding: 2em;
}

#personal-info{
  background-color: lightskyblue;
  padding: 2em;
}
}