@media (min-width:768px) and (max-width: 1024px){
/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  /* General formatting */
h2{
  font-size: 1.5em;
}
/* Hide the avatar */
.avt-banner{
  display: none;
}

/* Hide the text in the navigation bar */
#nav-text{
  display: none;
}
/* Putting text into the center of the image */
#banner{
    text-align: center;
    position: relative;
    color: white;
}

.banner-img {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  filter: brightness(40%);
}   

.banner-text {
  position: absolute;
  inset: 50% auto auto 50%;
  text-align: center;
  transform: translate(-50%,-50% );
  color: white;
}
/* Formatiting Navigation bar */
#nav-bar{
  text-align: center;
  padding-bottom: 10px !important;
}
#nav-bar a:link, a:visited{
  text-decoration: none;
  color:#1d3557;
  text-transform: uppercase;
  display: inline-block;
  border-left: 1px solid gray;
  padding: 20px;
}
/* Formatting the Target and personal info box */
#about .container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 1.5em;
  column-gap: 2em;
  justify-items: center;
}

#target{
  background-color: lightskyblue;
  padding: 2em;
}

#personal-info{
  background-color: lightskyblue;
  padding: 2em;
}
}